<footer style="background-color: #ccc;" class="text-dark pt-4">
    <div class="container">
        <div class="row">

            <!-- INFORMACI칍N GENERAL + VIVERO -->
            <div class="col-md-6 mb-4">
                <h5 class="fw-bold">INFORMACI칍N</h5>
                <p>Vivero Online <strong style="color:rgb(97, 89, 89);">Germina Luz</strong></p>
                <p>Carrer Diputaci칩 - 44/90 - Espa침a</p>
                <p>info@germinaluz.com</p><br>

               
                
                <p>游님 M칩vil: 634 104 097</p>
                <p><strong>Env칤os los d칤as jueves</strong></p>
                  <!-- Redes sociales -->
                <div class="mt-3">
                    <a href="https://facebook.com" class="text-dark me-3">
                        <i class="bi bi-facebook" style="font-size: 1.5rem;"></i>
                    </a>
                    <a href="https://instagram.com" class="text-dark">
                        <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
                <a href="/envios" class="text-success fw-bold">Ver m치s</a>

              
            </div>

            <!-- HORARIOS -->
            <div class="col-md-6 mb-4">
                <h5 class="fw-bold">HORARIOS DE ATENCI칍N</h5>
                <p>Lunes: 16 a 20 hs</p>
                <p>Martes a Viernes: 12 a 20 hs</p>
                <p>S치bados: 12:30 a 20 hs</p>
                <p>游 Tel: 26046575</p>

                <h6 class="fw-bold mt-3">Atenci칩n en vivero f칤sico</h6>
                <p>Lunes a S치bados: 8 a 18 hs</p>
                <p>游 Tel: 26013545</p>
            </div>
        </div>

        <!-- L칈NEA FINAL -->
        <div class="text-center py-3 border-top mt-3">
            춸 2025 <strong>GerminaLuz</strong> - Todos los derechos reservados
        </div>
    </div>
</footer>
